/* Estilos para a seção de listagem de usuários */
.listar-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.listar-user-info {
  display: flex;
  align-items: center;
}

/* Estilizando rótulo */
.listar-user-label {
  margin-right: 0.5rem; 
}

/* Estilizando seletor */
.listar-user-select {
  margin-right: 0.5rem; 
}

/* Estilizando contagem de entradas */
.listar-user-entries {
  margin-left: 0.5rem; 
}

/* Estilizando campo de pesquisa */
.search-input {
  max-width: 200px;
  margin-right: 8px; 
}

.pagination-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/*Espaçamento show...*/
.pagination-container {
  margin-bottom: 10px;
}
