<h1>Editar usuário</h1>
<div class="well">
<form #formUser="ngForm">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email"
                [(ngModel)]="user.email"
                #email="ngModel"
                minlength="9" required>
        <div *ngIf="email.errors && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div>Digite o email do usuário.</div>
            <div>O email deve conter ao menos 9 caracters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username"
                [(ngModel)]="user.username"
                #username="ngModel"
                minlength="4" required>
        <div *ngIf="username.errors && (username.dirty || username.touched)" 
            class="alert alert-danger">
            <div>Digite o username do usuário.</div>
            <div>O Username deve conter ao menos 9 caracters.</div>
        </div>
    </div>

    <div class="form-group">
    <button type="button" class="btn btn-primary"
            (click)="atualizar()"
            [disabled]="!formUser.form.valid">
        <i class="fa fa-save" aria-hidden="true"></i> Atualizar
    </button>

    <a class="btn btn-secondary"
        [routerLink]="['/users']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
    </a>
    </div>
</form>
</div>